<div class="row" style="margin-top: 10px">
  <div class="col-xs-3">
    <dl class="dl-horizontal dl-horizontal-thin">
      <dt><%= ReceiverSetting.human_attribute_name :rxdt %></dt>
      <dd><%= setting.rxdt %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :txdt %></dt>
      <dd><%= setting.txdt %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :sywf %></dt>
      <dd><%= setting.sywf %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :nsyp %></dt>
      <dd><%= setting.nsyp %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :shsz %></dt>
      <dd><%= setting.shsz %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :thsz %></dt>
      <dd><%= setting.thsz %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :hdck %></dt>
      <dd><%= setting.hdck %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :dwnl %></dt>
      <dd><%= setting.dwnl %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :dltp %></dt>
      <dd><%= setting.dltp %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :dlty %></dt>
      <dd><%= setting.dlty %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :dlsv %></dt>
      <dd><%= setting.dlsv %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :inct %></dt>
      <dd><%= setting.inct %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :evim %></dt>
      <dd><%= setting.evim %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :modn %></dt>
      <dd><%= setting.modn %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :pw1 %></dt>
      <dd><%= setting.pw1 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :pw2 %></dt>
      <dd><%= setting.pw2 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :pw3 %></dt>
      <dd><%= setting.pw3 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :pw4 %></dt>
      <dd><%= setting.pw4 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :ssn1 %></dt>
      <dd><%= setting.ssn1 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :ssn2 %></dt>
      <dd><%= setting.ssn2 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :ssn3 %></dt>
      <dd><%= setting.ssn3 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :ssn4 %></dt>
      <dd><%= setting.ssn4 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :tsn1 %></dt>
      <dd><%= setting.tsn1 %></dd>
    </dl>
  </div>
  <div class="col-xs-3">
    <dl class="dl-horizontal dl-horizontal-thin">
      <dt><%= ReceiverSetting.human_attribute_name :tsn2 %></dt>
      <dd><%= setting.tsn2 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :tsn3 %></dt>
      <dd><%= setting.tsn3 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :tsn4 %></dt>
      <dd><%= setting.tsn4 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :aqt1 %></dt>
      <dd><%= setting.aqt1 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :aqt2 %></dt>
      <dd><%= setting.aqt2 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :aqt3 %></dt>
      <dd><%= setting.aqt3 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :aqt4 %></dt>
      <dd><%= setting.aqt4 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :tlt1 %></dt>
      <dd><%= setting.tlt1 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :tlt2 %></dt>
      <dd><%= setting.tlt2 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :tlt3 %></dt>
      <dd><%= setting.tlt3 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :tlt4 %></dt>
      <dd><%= setting.tlt4 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :ssq1 %></dt>
      <dd><%= setting.ssq1 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :ssq2 %></dt>
      <dd><%= setting.ssq2 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :ssq3 %></dt>
      <dd><%= setting.ssq3 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :ssq4 %></dt>
      <dd><%= setting.ssq4 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :tsq1 %></dt>
      <dd><%= setting.tsq1 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :tsq2 %></dt>
      <dd><%= setting.tsq2 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :tsq3 %></dt>
      <dd><%= setting.tsq3 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :tsq4 %></dt>
      <dd><%= setting.tsq4 %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :loc %></dt>
      <dd><%= setting.loc %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :ndip %></dt>
      <dd><%= setting.ndip %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :dipt %></dt>
      <dd><%= setting.dipt %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :nmag %></dt>
      <dd><%= setting.nmag %></dd>
    </dl>
  </div>
  <div class="col-xs-3">
    <dl class="dl-horizontal dl-horizontal-thin">
      <dt><%= ReceiverSetting.human_attribute_name :magt %></dt>
      <dd><%= setting.magt %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :mdec %></dt>
      <dd><%= setting.mdec %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :mxyt %></dt>
      <dd><%= setting.mxyt %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :ngrv %></dt>
      <dd><%= setting.ngrv %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :grvt %></dt>
      <dd><%= setting.grvt %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :tmpt %></dt>
      <dd><%= setting.tmpt %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :cmtf %></dt>
      <dd><%= setting.cmtf %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :tmtf %></dt>
      <dd><%= setting.tmtf %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :dspc %></dt>
      <dd><%= setting.dspc %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :suam %></dt>
      <dd><%= setting.suam %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :sudt %></dt>
      <dd><%= setting.sudt %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :susr %></dt>
      <dd><%= setting.susr %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :sust %></dt>
      <dd><%= setting.sust %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :stsr %></dt>
      <dd><%= setting.stsr %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :stst %></dt>
      <dd><%= setting.stst %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :mtty %></dt>
      <dd><%= setting.mtty %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :diaa %></dt>
      <dd><%= setting.diaa %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :diaf %></dt>
      <dd><%= setting.diaf %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :dfmt %></dt>
      <dd><%= setting.dfmt.try(:gsub, ";", "; ") %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :gspc %></dt>
      <dd><%= setting.gspc %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :gwut %></dt>
      <dd><%= setting.gwut %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :gmin %></dt>
      <dd><%= setting.gmin %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :gmax %></dt>
      <dd><%= setting.gmax %></dd>
    </dl>
  </div>
  <div class="col-xs-3">
    <dl class="dl-horizontal dl-horizontal-thin">
      <dt><%= ReceiverSetting.human_attribute_name :gsf %></dt>
      <dd><%= setting.gsf %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :sgsf %></dt>
      <dd><%= setting.sgsf %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :gaaa %></dt>
      <dd><%= setting.gaaa %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :gupt %></dt>
      <dd><%= setting.gupt %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :gaaf %></dt>
      <dd><%= setting.gaaf %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :gfmt %></dt>
      <dd><%= setting.gfmt.try(:gsub, ";", "; ") %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :bevt %></dt>
      <dd><%= setting.bevt %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :bfs %></dt>
      <dd><%= setting.bfs %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :bthr %></dt>
      <dd><%= setting.bthr %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :pmpt %></dt>
      <dd><%= setting.pmpt %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :pevt %></dt>
      <dd><%= setting.pevt %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :ptfs %></dt>
      <dd><%= setting.ptfs %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :ptg %></dt>
      <dd><%= setting.ptg %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :fdm %></dt>
      <dd><%= setting.fdm %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :fevt %></dt>
      <dd><%= setting.fevt %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :invf %></dt>
      <dd><%= setting.invf %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :lopl %></dt>
      <dd><%= setting.lopl %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :hipl %></dt>
      <dd><%= setting.hipl %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :ptyp %></dt>
      <dd><%= setting.ptyp %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :syty %></dt>
      <dd><%= setting.syty %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :pwin %></dt>
      <dd><%= setting.pwin.try(:join, ", ") %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :emtx %></dt>
      <dd><%= setting.emtx %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :resy %></dt>
      <dd><%= setting.resy %></dd>
      <dt><%= ReceiverSetting.human_attribute_name :nssq %></dt>
      <dd><%= setting.nssq %></dd>
    </dl>
  </div>
</div>
