<li class="<%= "active" if action_name == "global" %>"><%= link_to "Global Alerts", global_notifiers_path %></li>
<li class="<%= "active" if action_name == "group" %>"><%= link_to "Group Alerts", group_notifiers_path %></li>
<li class="<%= "active" if action_name == "rig" %>"><%= link_to "Rig Alerts", rig_notifiers_path %></li>
