<div class="col-xs-6">
  <div class="row form-group padding-horizontal">
    <div class="col-xs-3 compact-label">
      <%= f.label :version, class: 'text-left' %>
    </div>
    <div class="col-xs-9">
      <%= f.input_field :version, collection: [1,2], class: 'no-border' %>
    </div>
  </div>

  <div id="pulse-parameters">
    <%= render partial: '/mandates/configurations/pulse_parameters', locals: { f: f }%>
  </div>

  <div id="logging-parameters">
    <%= render partial: '/mandates/configurations/logging_parameters', locals: { f: f }%>
  </div>

  <div id="filters">
    <%= render partial: '/mandates/configurations/filters', locals: { f: f } %>
  </div>
</div>

<div class="col-xs-6" style="padding-left:0;">
  <div id="shock">
    <%= render partial: '/mandates/configurations/shock', locals: { f: f } %>
  </div>

  <div id="batt">
    <%= render partial: '/mandates/configurations/batt', locals: { f: f } %>
  </div>
</div>

<div class="col-xs-6" style="padding-left:0;">
  <div class="row">
    <h3 style="margin-top:0;">Flow Switch Settings</h3>

    <div id="pulser-version-0">
      <em>Select a Version to enable flow switch settings</em>
    </div>
  </div>

  <div id="pulser-version-1" style="display: none">
    <div id="pulser-version-one">
      <%= render partial: '/mandates/configurations/pulser_version_one', locals: { f: f } %>
    </div>
  </div>

  <div id="pulser-version-2" style="display: none">
    <div id="pulser-version-two-thresholds">
      <%= render partial: '/mandates/configurations/pulser_version_two_thresholds', locals: { f: f } %>
    </div>
    <div id="pulser-version-two-weights">
      <%= render partial: '/mandates/configurations/pulser_version_two_weights', locals: { f: f } %>
    </div>
  </div>
</div>